@font-face {
  font-family: "lucida";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lucida_sans_unicode_regular-webfont.eot");
  src: url("../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/lucida_sans_unicode_regular-webfont.woff2") format("woff2"),
  url("../fonts/lucida_sans_unicode_regular-webfont.woff") format("woff"),
  url("../fonts/lucida_sans_unicode_regular-webfont.ttf") format("truetype");
}
html, body {
  height: 100%;
}
html {
  position: relative;
}
body {
  font-family: Arial, sans-serif;
}
.wrap {
  height: 100%;
  display: table;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;

}
.w1{
  display: table-row;
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover, button:hover{
  opacity: 0.6;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.container {
  width: 912px;
  margin: 0 auto;
}
header {
  padding: 17px 9px 11px;
}

.phone {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  font-size: 18px;
}
.phone a{
  color:#5e696d;
}
.phone a:first-child {
  position: relative;
  padding-left: 30px;
}
.phone a:first-child:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 7px;
  width: 15px;
  height: 19px;
  background: url("../img/spritesheet.png");
  background-position: -139px -23px;
}
.phone a:first-child:before {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  background: #0e385c;
}
.phone a:hover{
  opacity: 1;
  text-decoration: underline;
}

.head form {
  position: relative;
  padding: 2px 0 3px 26px;
  border: 1px solid #596d80;
  box-shadow: 0 4px 12px 1px rgba(180,180,180,1);
  -webkit-box-shadow: 0 4px 12px 1px rgba(180,180,180,1);
     -moz-box-shadow: 0 4px 12px 1px rgba(180,180,180,1);
}
.head form:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 9px;
  width: 14px;
  height: 18px;
  background: url("../img/spritesheet.png");
  background-position: -52px -10px;
}
.head_form {
  display: inline-block;
  vertical-align: middle;
  width: 471px;
  margin-right: 20px;
  border-radius: 4px;
  background: rgb(125,185,232);
  background:    -moz-linear-gradient(top,  rgba(125,185,232,1) 0%, rgba(30,87,153,1) 65%, rgba(13,54,90,1) 100%, rgba(31,103,135,1) 100%);/* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(30,87,153,1) 65%,rgba(13,54,90,1) 100%,rgba(31,103,135,1) 100%);/* Chrome10-25,Safari5.1-6 */
  background:         linear-gradient(to bottom,  rgba(125,185,232,1) 0%,rgba(30,87,153,1) 65%,rgba(13,54,90,1) 100%,rgba(31,103,135,1) 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  font-family: lucida, Arial, sans-serif;
  font-size: 11px;  
}
.head_form input {
  box-sizing: border-box;
  width: 117px;
  height: 17px;
  padding-left: 4px;
  font-size: 9px;
  color: #97a2a6;
}
.head_form .entrance{
    padding: 0;margin: 0;
    display: inline-block;
    width: 50px;
    background: none;
    box-shadow: none;
    outline: none;
    color: #fff;
    border: 0;
    font-size: 11px;
    border-right: 1px solid #fff;
}
.head_form .entrance:hover{opacity: 0.7;}
.head_form a {
  display: inline-block;
  padding: 0 4px;
  color: #fff;
}
.reminder{
  text-decoration: underline;
}

.siteNavigation {
  display: inline-block;
  vertical-align: middle;
  padding: 0 6px;
  border: 1px solid #c1c8cb;
  border-radius: 11px;
}
.siteNavigation a {
  display: inline-block;
  background: url("../img/spritesheet.png");
  
}
.siteNavigation .icon-mail {
  width: 12px;
  height: 9px;
  background-position: -86px -10px;
}
.siteNavigation .icon-map {
  width: 14px;
  height: 10px;
  background-position: -118px -10px;
}
.siteNavigation .icon-home {
  width: 12px;
  height: 11px;
  background-position: -152px -10px;
}

.menu {
  margin-bottom: 9px;
  border: 1px solid #0a1030;
  border-radius: 3px;
  background:    -moz-linear-gradient(top,  #4d5663 0%, #464d54 22%, #3a4046 25%, #2d3236 40%, #0f1011 60%, #010101 100%);
  background: -webkit-linear-gradient(top,  #4d5663 0%, #464d54 22%, #3a4046 25%, #2d3236 40%, #0f1011 60%, #010101 100%);
  background:         linear-gradient(top,  #4d5663 0%, #464d54 22%, #3a4046 25%, #2d3236 40%, #0f1011 60%, #010101 100%);
  
}
nav {
  float: left;
  width: 645px;
}
.navigation {
  float: right;
  padding: 3px 0;
  font-size: 0;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  display: block;
  padding: 4px 15px;
  border-radius: 10px;
  font-family: lucida, Arial, sans-serif ;
  font-size: 14px;
  color: #b1bcc0;
  text-transform: uppercase;
}
.navigation a:hover {
  background: #154b6d;
  color: #fff;
  transform: all .3s;
}

.basket {
  float: right;
  width: 230px;
  padding: 8px 0;
}
.basket a:first-child {
  position: relative;

  display: inline-block;
  padding-left: 31px;
}
.basket a:first-child:after {
  content: "";
  position: absolute;
  left: 0;
  width: 21px;
  height: 17px;
  background: url("../img/spritesheet.png");
  background-position: -184px -10px;

}
.basket a {
  padding-left: 12px;
  font-size: 11px;
  color: #929b9f;
}
.basket span {
  font-size: 12px;
  color: #0d5a8f;
}

.globalSearch {
  margin-bottom: 16px;

  font-size: 10px;
}
.globalSearch form {
  border: 1px solid #9c9c9d;
  border-radius: 17px;
          box-shadow: 0 4px 12px 1px rgba(180,180,180,1);

  -webkit-box-shadow: 0 4px 12px 1px rgba(180,180,180,1);
     -moz-box-shadow: 0 4px 12px 1px rgba(180,180,180,1);
}
.search-avto {
  float: left;
  width: 384px;
  padding: 10px;
}
.discs {
  float: left;
  width: 180px;
}


.search-bus {
  float: left;
  width: 165px;
  padding: 5px;
}

.globalSearch img {
  float: right;
}

.searchDiscs {
  float: right;
  width: 165px;
  padding: 10px;
}

.main {
  margin-bottom: 40px;

  font-family: lucida, Arial, sans-serif;
  font-size: 12px;
  color: #465961;
}

.sidebar {
  float: left;
  width: 180px;

  font-family: lucida;
}
.menu_title {
  position: relative;
  padding: 2px 0 2px 26px;
  border: 1px solid #8c969a;
  border-radius: 11px;
  font-size: 13px;
  color: #114165;
  text-transform: uppercase;
}
.menu_title:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 21px;
  border-radius: 22px;
  background: #114165;
}
.menu_title:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 12px;
  height: 14px;
  background: url("../img/spritesheet.png");
  background-position: -225px -10px;
}

.menu_heading {
  position: relative;
  display: block;
  width: 106px;
  padding: 2px 0 2px 30px;
  border: 1px solid #79878d;
  border-radius: 11px;
  font-size: 14px;
  color: #114165;
  text-transform: uppercase;
}

.menu_heading:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: #114165;
  }

.menu_heading:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #fff;
 
}
.catalog .menu_heading {
  display: block;
  padding: 4px 0 4px 30px;
}
.catalog a {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #465961; 
}
.catalog a:hover {
  font-style: italic;
  color: #0c3256;
  text-decoration: underline;
}

.main  li ul li {
  margin-left: 30px;
  padding: 5px 0 5px 0;
  list-style: circle;
}

.products {
  float: left;
  width: 503px;
  margin-left: 9px;
  padding: 4px 2px 10px 23px;
  margin-right: 10px;
  background:    -moz-linear-gradient(top,  #e4e7e8 0%, #94a7b0 100%);
  background: -webkit-linear-gradient(top,  #e4e7e8 0%, #94a7b0 100%);
}
.items {
  float: left;
  width: 140px;
  margin-right: 27px;
  margin-bottom: 10px;
  font-family: lucida, Arial, sans-serif;
  text-align: center;
}
.items:hover {
  opacity: .8;
}
.items strong {
  display: block;
  font-size: 15px;
  color: #206988;
}
.items .items-description {
  font-size: 13px;
  color: #1f2528;
  
}
.price {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #114165;
}
.img-box{
  display: block;
  max-width: 138px;
  border: 1px solid #a7b1b4;
  border-radius: 7px;
  background: #fff;
  min-height: 124px
}

.sidebar  button {
  display: inline-block;
  margin-left: 25px;
  padding: 4px 16px;
  border: 1px solid #373737;
  border-radius: 11px;
  background: #1e6383;
  box-shadow: 0 3px 2px 1px rgba(190,192,193,1);
  font-size: 11px;
  color: #e5e9ea;
  text-transform: uppercase;
  -webkit-box-shadow: 0 3px 2px 1px rgba(190,192,193,1);
     -moz-box-shadow: 0 3px 2px 1px rgba(190,192,193,1);
}
.catalog--right li ul li{
  list-style: none;
}

.sponsors {
  margin-bottom: 19px;
  text-align: center;
}
.sponsors a {
  display: inline-block;
  padding: 0px 4px;
  vertical-align: top;
}

footer {
  padding: 10px 0 45px;
  background: #213a4d;
  text-align: center;
}
footer ul {
  font-size: 0;
}
footer li {
  display: inline-block;
  border-right: 2px solid #8d989f;
}
footer a {
  display: block;
  padding: 3px 10px;
  font-size: 12px;
  color: #bec6c9;
}
footer li:last-child {
  border-right: none;
}
footer p {
  font-size: 10px;
  color: #704543;
}

footer{
  overflow: hidden;
}

