*{
	list-style: none;
}
.form{
	width: 600px;
	height: 100%;
	margin: 0 auto;
}
.title{
	font-size: 30px;
}
.modal{
	display: none;
	position: absolute;
	width: 400px;
	height: 200px;
	top:50%;
	left: 50%;
	margin: -150px 0 0 -300px;
	text-align: center;
	background: #ccc;
	color:#fff;
}
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0 ,0, 0.5);
}
.show{
	display: block;
}
.close-modal{
	position: relative;
	display: inline-block;
	background: #eee;
	padding: 10px;
	z-index: 10000;
	color:#000;
	float: right;
	cursor: pointer;
}
.result{
	padding: 30px;
	font-size: 30px;
}
.btn {
	margin-left: 100px;
	margin-top: 20px;
}