* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Helvetica Neue";
	src: local("Helvetica Neu"), 
	url(../fonts/HelveticaNeue-Light.ttf); 
}

html, body {
	width:100%;
	height: 100%;
	display:block;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 13px;
}

.wrapper {
	padding:0;
	height:1028px;
	margin:0 auto;
	background: url("../images/background.jpg") no-repeat;
	position:relative;
	background-size: cover;
}

header {
	background: #085495;
	border: 0 solid transparent;
}
.top-menu {
	display:inline-block;
	color:#56a2dc;
	float:right;
	margin:0;
	padding:0;
}
.top-menu a {
	color: rgb(96,181,237);
	text-decoration: none;
}
.top-menu li {
	margin:0;
	padding:.7em;
}
.top-menu li:hover {
	background: #4eabda;
	color: white;
}
.top-menu li.active {
	background: #4eabda;
}
.top-menu li img {
	margin-right: .3em;
}
.img-wrapper {
	display:inline-block;
}
.img-wrapper img {
	width:12px;
	height:12px;
}
.user-nav {
	display:inline-block;
	color:white;
	float:right;
	margin:0;
	padding:0;
	border-left: 1px solid #56a2dc;
}

.user-nav a {
	color:white;
}
.user-nav li {
	margin:0;
	padding:.7em;
}
.user-nav li:hover {
	background: #4eabda;
	color: white;
}

.form-wrapper {
	width:520px;
	height:520px;
	background-color: rgba(0,0,0,0.5);
	/*height:50%;*/
	color:whitesmoke;
	font-size:1em;
	margin: 0 auto;
	margin-top: 200px;
}
.form-container {
	margin:0 auto;
	width:270px;
	color:white;
}
.registration {
	margin: 0 auto;
}
.registration .form-control {
	width: 100%;
	height: 30px;
	padding-left: 1em;
	margin-bottom: 1em;
	background: #191919;
	border:0 solid #4682b4;
}
.registration .form-control:focus {
	background: #4682b4;
	box-shadow: 0 0 3px 3px #4682b4;
	border:none;
}

.form-title {
	margin:0 0 1em 0;
	padding:.5em;
	border-bottom: 1px solid white;
	text-align:center;
}

.divider {
	margin:1.4em 0 1.4em 0;
	width:100%;
	border-bottom: #191919;
	position:relative;
	font-size:14px;
	text-align: center;
	color: white;

}
.divider:after {
	content:"";
	display:block;
	width: 43%;
	height:1px;
	position:absolute;
	bottom:35%;
	right: 0;
	border-bottom: 1px solid #666666;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
}
.divider:before {
	content:"";
	display:block;
	width: 43%;
	height:1px;
	position:absolute;
	bottom:35%;
	left:0%;
	border-bottom: 1px solid #666666;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.btn {
	width:150px;
	height:40px;
	margin:1em 0 1em 0;
	border: 0 solid transparent;
	font-weight:900;
	background: #50aedb;
}

.nav {
	padding:0;
	margin:0;
	cursor:pointer;
}
.nav li {
	display:inline-block;
}

.b-r {
	border-right: 1px solid #ccccff;
}
.white {
	color:white;
}

/*Placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: white;
}
::-moz-placeholder { /* Firefox 19+ */
	color: white;
}
:-ms-input-placeholder { /* IE 10+ */
	color: white ;
}
:-moz-placeholder { /* Firefox 18- */
	color: white;
}

.m-t {
	margin-top: 1em;
}
.center {
	text-align:center;
}
.clearfix {
	clear:both;
}