@font-face {
  font-family: "league_gothicregular";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;

  cursor: pointer;
}

body {
  font-family: "league_gothicregular", sans-serif;
  min-width: 320px;
}

.clearfix:after {
  display: block;
  clear: both;

  content: "";
}

.center-wrap {
  width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}


/*=====Header =======*/

.head {
  padding-top: 70px;
  padding-bottom: 167px;

  border-bottom: 1px solid #33253a;
  background: url(../img/header_bg.jpg);
  background-position: center center;
  background-size: cover;

  text-transform: uppercase;
}


/*===========logo=========*/

.logo {
  margin-top: 10px;
  display: inline-block;
}

/*==============Navigation==============*/

.nav {
  float: right;
  margin-bottom: 162px;
  padding: 0;
}

.menu {
  font-size: 0;
}

.dropdown {
  display: none;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  display: block;
  padding: 14px 23px;

  font-size: 24px;
  color: #fff;
}

.menu__link:hover {
  opacity: .5;
}

.menu__item_active {
  position: relative;
}

.head-bg {
  padding: 76px 0 79px;

  background: rgba(0, 0, 0, .2);
}




.main-description {
  position: relative;

  padding: 0 435px 0 0;
}

.main-img--320 {
  display: none;
}

.main-img {
  position: absolute;
  top: -100px;
  right: 70px;
}

.main-description__play {
  position: absolute;
  top: 50px;
  right: 130px;
}

.main-description__page-title {
  font-size: 60px;
  font-weight: normal;
  color: #fff;
  text-transform: capitalize;
}

.main-description__title {
  margin: 0;
  padding: 0;

  font-size: 25px;
  color: #edbfff;
}

.main-description__summary {
  font-family: "Open Sans";
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
}

.about-company {
  padding: 70px 0 68px;
  border-top: 1px solid #33253a;
  border-bottom: 1px solid #0d151b;
  background: linear-gradient(to bottom, #745083 0%, #6f4d7d 10%, #5e426a 20%, #543b5f 50%, #422f4b 70%, #33263b 100%);
}

.company-items {
  position: relative;

  float: left;
  width: 280px;
  margin-right: 54px;
  padding-left: 64px;
}

.company-items:nth-child(3) {
  margin-right: 0;
}

.setting:after,
.think:after,
.sound:after {
  position: absolute;
  top: 12px;
  left: 11px;

  width: 29px;
  height: 29px;

  background: url("../img/spritesheet.png");

  content: "";
}

.setting:after {
  background-position: -34px 0;
}

.think:after {
  background-position: 34px 0;
}

.sound:after {
  background-position: 0 0;
}

.company-items__title {
  margin: 0;
  padding: 0;

  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.company-items__description {
  margin: 12px 0 25px;

  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
}

.company-items__more {
  display: inline-block;
  float: right;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.company-items__more:hover {
  opacity: .5;
}

.client-block {
  padding: 92px 0 91px;

  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  background: linear-gradient(to bottom, #c6c6c6 0%, #d4d4d4 2%, #ededed 4%, #f9f9f9 100%);
}

.comment {
  position: relative;

  float: left;
  width: 427px;
  margin-left: 32px;
  padding: 30px;

  background: #fff;
}

.comment__client {
  position: absolute;
  top: 24px;
  left: -31px;
}

.comment:after {
  position: absolute;
  right: 50px;
  bottom: -18px;
  z-index: 100;

  width: 0;
  height: 0;

  border-width: 0 18px 18px 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;

  content: "";
}

.comment__title {
  font-size: 30px;
  color: #454545;
  text-transform: uppercase;
}

.comment--er {
  color: #edbfff;
}

.comment__description {
  margin: 0;

  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  color: #686868;
}

.update-block {
  float: right;
  width: 450px;
  padding-top: 32px;
}

.update-block__title {
  font-size: 30px;
  color: #454545;
  text-transform: uppercase;
}

.update {
  padding: 10px 0;
  overflow: hidden;
}

.update__img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 18px;

  border-radius: 50%;
}

.update__link {
  display: block;

  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #454545;
  text-decoration: none;
}

.update__link:hover {
  opacity: .5;
}

.update__sescription {
  margin: 0;
  padding: 0;

  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 16px;
  color: #454545;
}

.update-block__more {
  display: inline-block;
  float:right;
  font-size: 18px;
  color: #454545;
  text-align: right;
  text-transform: uppercase;
}

.update-block__more:hover {
  opacity: .5;
}

.sponsors {
  margin: 0 auto;

  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
  background: #f9f9f9;
  background: #f9f9f9;

  text-align: center;
}

.sponsors__item {
  display: inline-block;
  padding: 25px 35px;

  vertical-align: middle;
}

.news-block {
  padding: 93px 0 70px;

  border-top: 1px solid #d8d8d8;
  background: #ececec;
}

.news,
.copyright {
  float: left;
  width: 278px;
  margin-right: 60px;
}

.news:last-child {
  margin-right: 0;
}

.copyright__title {
  font-size: 48px;
  color: #454545;
  text-transform: uppercase;
}

.copyright--er {
  color: #bcbcbc;
}

.copyright__copy {
  font-family: Georgia, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #c5c5c5;
}

.copyright__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #787878;
}

.news__title {
  font-size: 30px;
  color: #454545;
  text-transform: uppercase;
}

.news__sescription {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #787878;
}

.footer {
  padding: 33px 0 25px;

  background: url(../img/footer_bg.jpg);
  background-position: center center;
  background-size: cover;
}

.menu--footer {
  float: left;
}

.menu--footer .menu__link {
  padding: 10px 20px;

  font-size: 21px;
  text-transform: uppercase;
}


.designer {
  float: right;
  margin: 17px 0;

  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
}

.designer a {
  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #fff;
}

.designer a:hover {
  opacity: .5;
}

/*footer bottom*/
html,
body {
  height: 100%;
}

footer {
  overflow: hidden;
}

.wrap {
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;

  table-layout: fixed;
}

.w1 {
  display: table-row;
  height: 100%;
}

.menu__border {
  display: inline-block;
  padding: 5px 5px 0 5px;

  border-bottom: 2px solid #edbfff;
}

@media(max-width: 980px) {
  .center-wrap {
    width: 768px;
    padding: 0 20px;
  }
  .head {
    padding-bottom: 154px;
  }
  .logo {
    float: none;
    margin-bottom: 25px;
  }
  .nav {
    float: none;
    margin-bottom: 110px;
  }
  .menu__link {
    padding: 10px 23px;

    font-size: 20px;
  }
  .head-bg {
    padding: 95px 0 105px;
  }
  .main-description {
    padding: 0 400px 0 0;
  }
  .main-description__page-title {
    font-size: 44px;
  }
  .main-description__title {
    font-size: 24px;
  }
  .main-description__summary {
    font-size: 16px;
  }
  .main-img {
    position: absolute;
    top: -25px;
    right: 31px;
  }
  .main-description__play {
    position: absolute;
    top: 127px;
    right: 95px;
  }
  .company-items {
    width: 224px;
    margin-right: 28px;
    padding-left: 55px;
  }
  .company-items__title {
    font-size: 24px;
  }
  .comment {
    width: 312px;
    padding: 20px 10px 40px 30px;
  }
  .comment__client {
    position: absolute;
    top: 11px;
    left: -27px;
  }
  .comment__title {
    padding-right: 170px;

    font-size: 24px;
  }
  .comment:after {
    display: none;

    content: "";
  }
  .update-block {
    width: 334px;
    
  }
  .sponsors__item {
    padding: 23px;
  }
  .news,
  .copyright {
    width: 204px;
    margin-right: 58px;
  }
  .copyright__title {
    font-size: 38px;
  }
  .news__title {
    font-size: 24px;
  }
  .designer {
    margin-top: 70px;
  }
}

@media(max-width: 768px) {
  .center-wrap {
    width: 480px;
  }
  .head {
    padding-bottom: 100px;
  }
  .logo {
    display: block;
    width: 155px;
    margin: 0 auto;
  }
  .nav {
    margin-bottom: 10px;
  }
  .nav .menu {
    display: none;
  }
  .dropdown {
    display: block;

    text-align: center;
  }
  .dropdown .menu__item {
    display: block;

    border-top: 1px solid #533f5a;
    border-bottom: 1px solid #36283e;
  }
  .dropdown {
    position: relative;
  }
  .drop {
    position: absolute;
    top: 7px;
    right: 0;
    left: 0;
    z-index: 100;

    display: none;
    width: 246px;
    margin: auto;

    border: 1px solid #121b22;
    border-radius: 8px;
    background: rgba(61, 48, 70, .8);
  }
  .dropdown--list {
    display: block;
  }
  .dropdown .menu__link:hover {
    padding-bottom: 8px;

    border-bottom: 2px solid #edbfff;
    background: rgba(43, 34, 49, 1);
  }
  .dropdown .first {
    border-radius: 8px 8px 0 0;
  }
  .menu__link .last {
    border: none;
  }
  .dropdown .home:hover {
    padding-bottom: 10px;

    border: none;
    background: none;
  }
  .item--first {
    border-top: none;
  }
  .item--last {
    border-bottom: none;
  }
  .first {
    border-radius: 8px 8px 0 0;
  }
  .last {
    border-radius: 0 0 8px 8px;
  }
  .head-bg {
    padding: 90px 0 85px;
  }
  .main-description {
    padding: 0 205px 0 0;
  }
  .main-img--320 {
    position: absolute;
    top: -100px;
    right: 12px;

    display: block;
  }
  .main-img {
    display: none;
  }
  .main-description__play {
    display: none;
  }
  .main-description__page-title {
    font-size: 40px;
  }
  .main-description__title {
    font-size: 18px;
  }
  .main-description__summary {
    display: none;
  }
  .company-items {
    float: none;
    width: 100%;
    margin-bottom: 25px;
  }
  .comment__title {
    padding-right: 0;
  }
  .company-items__description {
    max-height: 53px;
    margin: 0 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .setting:after,
  .think:after,
  .sound:after {
    top: 0;

    content: "";
  }
  .comment {
    float: none;
    width: 412px;
    margin-left: 24px;
  }
  .comment__description {
    max-height: 163px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .update-block {
    margin-right: 30px;
  }
  .news,
  .copyright {
    width: 100%;
    margin: 0 0 55px 0;
  }
  .menu--footer .menu__link {
    padding: 9px;
  }
  .menu--footer {
    margin-bottom: 10px;
  }
  .designer {
    float: none;
    margin: 0;

    text-align: center;
  }
  .footer {
    padding: 30px 0 60px 0;
  }
}

@media(max-width: 480px) {
  .center-wrap {
    width: 320px;
  }
  .menu .menu__item {
    display: none;
  }
  .menu .menu__item_active {
    display: block;
  }
  .menu .menu__item_active:hover .menu .menu__item {
    display: block;

    opacity: .7;
  }
  .head-bg {
    background: none;
  }
  .head-bg {
    padding: 85px 0;
  }
  .main-description {
    padding: 0;

    text-align: center;
  }
  .main-description__title {
    font-size: 16px;
  }
  .main-img--320 {
    display: none;
  }
  .company-items__description {
    padding-right: 15px;
  }
  .comment {
    float: right;
    width: 255px;
    margin-left: 0;
    padding: 25px 35px;
  }
  .update-block {
    width: 100%;
    margin-right: 0;
  }
  .update__link,
  .update__sescription {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .news-block {
    display: none;
  }
  .menu--footer {
    display: none;
  }
}
